doctype html
html
	head
		title Say This Numbers
	body
		h1 Say This Number
		p Parses a number to its natural language form.
		
		h2 Usage: 
		p.
			http://howdoisaythisnumber.in/<strong>[language]</strong>/<strong>[number]</strong>
		h3 Example:
		a(href='http://howdoisaythisnumber.in/english/123') http://howdoisaythisnumber.in/english/123

		h2 Supported Languages:
		p There are #{languageCount} supported languages:
		ul(style='text-transform:capitalize;')
			each val in languages
				li #{val}

		h2 Contribute
		a(href='https://github.com/tristaaan/SayThisNumber.git') GitHub