doctype html
html
  head
    meta(charset='uft-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Say This Number
  body
    h1 Say This Number
    p Parses a number to its natural language form.
    
    h2 Usage: 
    p http://saythisnumber.in/<strong>[language]</strong>/<strong>[n]</strong>|<strong>[n-m]</strong>  <br>
      | Where <em>n</em> is an integer, and <em>n &lt; m</em> for ranges.
    h3 Examples:
    dl
      dt Single Number
      dd: a(href='/english/123') http://saythisnumber.in/english/123
      dd: a(href='/french/1024') http://saythisnumber.in/french/1024
      
      dt Number Range
      dd: a(href='/english/0-10') http://saythisnumber.in/english/0-10
      dd: a(href='/russian/-5-5') http://saythisnumber.in/russian/-5-5

    h2 Supported Languages:
    p There are #{languageCount} supported languages:
    ul(style='text-transform:capitalize;')
      each val in languages
        li #{val}

    h2 Contribute!
    a(href='https://github.com/tristaaan/SayThisNumber.git') GitHub
