doctype html
html
  head
    meta(charset='uft-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{range} in #{language}
  body
    if parsedNumbers
      each val, i in parsedNumbers
        h3 #{val}
    else if error
      h3 #{error}